.nav {
    background-color: #8167b3;
    width: 100%;
    font-size: 13px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    .menu {
    display: none;
    }
    .left-section {
    display: flex;
    width: 360px;
    }
    img {
    width: 5%;
    margin: 5px;
    }
    ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    }
    .home {
    padding: 5px 10px;
    }
    .dropdown {
    padding: 5px 10px;
    border-left: 2px solid #7d55a7;
    &:hover .dropdown-content{
    display: block;
    }
    }
    .dropdown-content{
    display: none;
    position: absolute;
    background-color: #8167b3;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    }
    a {
    text-decoration: none;
    display: block;
    }
    .about {
    padding: 5px 10px;
    border-left: 2px solid #7d55a7;
    }
    .contact {
    padding: 5px 10px;
    border-left: 2px solid #7d55a7;
    }
    li a {
    text-decoration: none;
    color: #ffffff;
    }
    li form input {
    border-radius: 2px;
    padding: 5px 10px;
    }
    .searchbar {
    gap: 10px;
    align-items: center;
    }
    .fa-magnifying-glass {
    display: none;
    }
    .shop-icon {
    margin: 10px;
    }
    }
    