*{
    margin: 0;
    padding: 0;
    font-family: 'montserrat', sans-serif;
    box-sizing: border-box;
  }

body {
    background-image: url("https://onedrive.live.com/embed?resid=FEB15AE4B4262FE7%2158469&authkey=%21AIfU4ySDYGXYHgk&width=5000&height=10083");
    background-size: cover;
}