*{
    margin: 0;
    padding: 0;
    font-family: 'montserrat', sans-serif;
    box-sizing: border-box;
  }

body {
    background-image: url("https://onedrive.live.com/embed?resid=FEB15AE4B4262FE7%2158668&authkey=%21AGwkWWOrt3r8Cnw&width=969&height=1954");
    background-size: cover;
}