.title{
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 20px;
    font-weight: $font-weight-title;
    color: #fff;
    text-shadow: 2px 2px 4px #230413;
  }
  
  .welcome-message {
    align-items: center;
    display: flex;
    margin: 20px;
  }
  
  .welcome-message p{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    padding: 30px;
    border-radius: 10px;
    background-color: #ffffff;
  }